body {
  display: flex;
  background-color: white;
  font-family: "Paytone One", sans-serif;
  overflow: hidden;
}
#login-portal {
  width: 40%;
  margin-top: 10%;
  padding: 2em 2em;
  font-size: 1.5em;
}
#login-portal input {
  width: 87%;
  padding: 0.5em 2em;
}
#login-portal button {
  font-family: "Paytone One", sans-serif;
  margin-top: 5%;
  padding: 1em 5em;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  border: none;
  color: white;
  width: 100%;
}
#background-section {
  width: 79%;
}
#background-section > img {
  width: 130%;
}
